{% extends 'base.html.twig' %}

{% block title 'Annonce' %}

{% block body %}
    <div class="jumbotron text-center">

        <h1> Annonce produit </h1>

        <p> annonce de diferent produit </p>
    </div>
    <div class="container">
    </div>
{% endblock %}
