{% extends 'base.html.twig' %}

{% block title 'Annonce' %}

{% block body %}
    <div class="jumbotron text-center">

        <h1> Annonce du produit: {{ produit.nom}} </h1>

       
    </div>
    <div class="container">
    </div>

    <div class ="container">

        <h2> liste des produits </h2>
        <div class = "row flex">
            <div class ="card-body">
                            
                            <h1 class="card-text" style="font-weight: bold;"> {{produit.prix}}€ </h1>
                            <p class="card-text"> marque: {{produit.marque.nom}} </p>
                            <p class="card-text"> date d'ajout: {{produit.dateAjout|date('Y-m-d')}} </p>
            </div>
        </div>
    </div>
    
{% endblock %}